h4{
  text-align: center;
}
.noteblock{
  width:70%; margin-left:15%; margin-right:15%;
  margin-top:60px;
  margin-bottom:80px;
}
.noteblock p{
  font-size: 20px;
  font-family: Arial;
}
#inlineFrameExample{
  width:40%; margin-left:30%; margin-right:30%;
}

